<!DOCTYPE html>
<html>
  <% include _includes/head.ejs %>
  <body>

    <% include _includes/header.ejs %>

    <main>
      <div class="container text-center">
        <section class="row armies">
          <% include _partials/_armies.ejs %>
        </section>
        <section class="row units">
          <% include _partials/_units.ejs %>
        </section>
      </div>
    </main>

    <% include _includes/footer.ejs %>
    <% include _includes/scripts.ejs %>
  </body>
</html>
